<div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
    <div class="flex h-screen flex-col justify-between">

        <!-- header -->
        <app-header class="flex items-center justify-between py-10"></app-header>

        <!-- main -->
        <main class="mb-auto">
            <div>
                <div class="flex flex-col items-center gap-x-12 xl:flex-row">

                    <div class="xl:basis-3/4">
                        <div class="pt-6">
                            <h1 class="pb-6 text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
                                Francisco Javier
                                <span class="text-pink-600 dark:text-pink-600">Gil Bautista</span>
                            </h1>
    
                            <h2 class="pt-5 text-lg text-gray-600 dark:text-gray-300">
                                Desarrollador de software que radica en <strong>México</strong>, actualmente enfocado en programación web desde hace unos años.
                            </h2>
                        </div>
                    </div>

                    <div class="xl:basis-1/3">
                        <div class="grid grid-cols-1 grid-rows-3 gap-8 py-12">
                            
                            <!-- experimentos -->
                            <div class="my-2 grid items-start gap-8">
                                <div class="group relative">
                                    
                                    <div 
                                        class="absolute -inset-0.5 rounded-lg bg-gradient-to-r from-pink-600 to-purple-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-500">
                                    </div>

                                    <a 
                                        routerLink="/"
                                        (click)="showMsg()">
                                        <span 
                                            class="relative flex items-center divide-x divide-gray-600 rounded-lg bg-white px-6 py-4 leading-none dark:bg-black">
                                            <span class="flex items-center space-x-5">

                                                <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    fill="none" 
                                                    viewBox="0 0 24 24" 
                                                    stroke-width="2" 
                                                    stroke="currentColor" 
                                                    class="h-5 w-5 -rotate-12 text-green-600">
                                                    <path 
                                                        stroke-linecap="round" 
                                                        stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                                                </svg>
                                                
                                                <span 
                                                    class="pr-4 text-gray-900 dark:text-gray-100">Experimentos</span>
                                            </span>
                                            
                                            <span 
                                                class="pl-4 text-amber-400 transition duration-300 group-hover:text-gray-900 dark:group-hover:text-gray-100">Apps&nbsp;→</span>
                                        </span>
                                    </a>

                                </div>
                            </div>

                            <!-- partituras -->
                            <div class="my-2 grid items-start gap-8">
                                <div class="group relative">

                                    <div 
                                        class="absolute -inset-0.5 rounded-lg bg-gradient-to-r from-fuchsia-600 to-emerald-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-500">
                                    </div>
                                    
                                    <a 
                                        routerLink="/" 
                                        (click)="showMsg()">
                                        
                                        <span 
                                            class="relative flex items-center divide-x divide-gray-600 rounded-lg bg-white px-6 py-4 leading-none dark:bg-black">
                                            <span class="flex items-center space-x-5">

                                                <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    fill="none" 
                                                    viewBox="0 0 24 24" 
                                                    stroke-width="2" 
                                                    stroke="currentColor" 
                                                    class="h-6 w-6 rotate-12 text-pink-600">
                                                    <path 
                                                        stroke-linecap="round" 
                                                        stroke-linejoin="round" 
                                                        d="M9 9l10.5-3m0 6.553v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 11-.99-3.467l2.31-.66a2.25 2.25 0 001.632-2.163zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 01-.99-3.467l2.31-.66A2.25 2.25 0 009 15.553z" />
                                                </svg>
                                                    
                                                <span 
                                                    class="pr-4 text-gray-900 dark:text-gray-100">Partituras</span>

                                            </span>
                                            
                                            <span class="pl-4 text-indigo-400 transition duration-300 group-hover:text-gray-900 dark:group-hover:text-gray-100">SheetMusic&nbsp;→</span>
                                        
                                        </span>
                                    </a>

                                </div>
                            </div>

                            <!-- random -->
                            <div class="my-2 grid items-start gap-8">
                                <div class="group relative">
                                    
                                    <div 
                                        class="absolute -inset-0.5 rounded-lg bg-gradient-to-r from-pink-600 to-purple-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-500">
                                    </div>
                                    
                                    <a 
                                        routerLink="/"
                                        (click)="showMsg()">
                                        
                                        <span 
                                            class="relative flex items-center divide-x divide-gray-600 rounded-lg bg-white px-6 py-4 leading-none dark:bg-black">
                                            
                                            <span class="flex items-center space-x-5">

                                                <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    fill="none" viewBox="0 0 24 24" 
                                                    stroke-width="2" 
                                                    stroke="currentColor" 
                                                    class="h-6 w-6 text-fuchsia-600">
                                                    <path 
                                                        stroke-linecap="round" 
                                                        stroke-linejoin="round" 
                                                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                                                </svg>
                                            
                                                <span class="pr-4 text-gray-900 dark:text-gray-100">Aleatorio</span>
                                            </span>
                                        
                                            <span class="pl-4 text-pink-400 transition duration-300 group-hover:text-gray-900 dark:group-hover:text-gray-100">Random&nbsp;→</span>
                                        </span>
                                    </a>
                                
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </main>

        <!-- info -->
        <div class="mt-5 md:pl-8">
            <div class="space-y-2 pt-2 pb-6 md:space-y-5">
                <h1 
                    class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">FAQ</h1>
            </div>

            <div class="max-w-none pt-2 pb-6 xl:col-span-2">
                <!-- q1 -->
                <div class="my-3">
                    <div class="flex flex-row text-xl">
                        <span class="text-pink-500">¿</span>
                        <span class="text-gray-500 dark:text-gray-400">&nbsp;Nuevo sitio&nbsp;</span>
                        <span class="text-pink-500">?</span>
                    </div>

                    <div>
                        <div class="p-1 font-mono text-sm text-gray-400 dark:text-gray-600">
                            Sí, sucedieron varias cosas:
                        </div>

                        <div class="p-2">
                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Mi proveedor de hosting y dominio era limitado.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Migre a Google, pero su servicio de dominios (clásico, pudo ser peor) fué vendido, así que a los 3 meses migre a otro proveedor.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">El sitio esta en GitHub Pages actualmente, redireccionado con DNS records a mi dominio gestionado en CloudFlare (Una maravilla de servicio, espero estar completamente con ellos en los próximos meses).</div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- q2 -->
                <div class="my-3">
                    <div class="flex flex-row text-xl">
                        <span class="text-pink-500">¿</span>
                        <span class="text-gray-500 dark:text-gray-400">&nbsp;Cómo se hizo&nbsp;</span>
                        <span class="text-pink-500">?</span>
                    </div>

                    <div>
                        <div class="p-1 font-mono text-sm text-gray-400 dark:text-gray-600">
                            Básicamente todo en Angular:
                        </div>

                        <div class="p-2">
                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Toda la arquitectura de Front-End en Angular.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">El estilizado esta en Tailwind CSS y hay una que otra extensión corriendo.</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- q3 -->
                <div class="my-3">
                    <div class="flex flex-row text-xl">
                        <span class="text-pink-500">¿</span>
                        <span class="text-gray-500 dark:text-gray-400">&nbsp;Y el blog&nbsp;</span>
                        <span class="text-pink-500">?</span>
                    </div>

                    <div>
                        <div class="p-1 font-mono text-sm text-gray-400 dark:text-gray-600">
                            Paso a mejor vida, aunque el contenido lo tengo para moverlo, hay ideas:
                        </div>

                        <div class="p-2">
                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Anteriormente estaba funcionando en WordPress. Considere Jekyll, pero tuve mas contras, sobre todo para compilar las gemas de Ruby hay que bajar un set de herramientas, el livereload es malo y no se diga la integración con Tailwind CSS.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Otra opción era usar Gatsby pero era pesado.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Al final use Angular, solo me queda hacer un generador estático para las publicaciones o hacer malabares con json.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">El desarrollo se realiza en mis tiempos libres, por lo cual va a tomar tiempo.</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- q4 -->
                <div class="my-3">
                    <div class="flex flex-row text-xl">
                        <span class="text-pink-500">¿</span>
                        <span class="text-gray-500 dark:text-gray-400">&nbsp;Y el código fuente&nbsp;</span>
                        <span class="text-pink-500">?</span>
                    </div>

                    <div>
                        <div class="p-1 font-mono text-sm text-gray-400 dark:text-gray-600">
                            Se encuentra en uno de mis repositorios de GitHub:
                        </div>

                        <div class="p-2">
                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Idealmente hay que borrar ciertos archivos, sobre todo para que el deploy no se les truene.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">La arquitectura de Front-End que tiene este sitio en Angular puede servir como punto de partida para proyectos mediados y grandes.</div>
                            </div>

                            <div class="flex flex-row">
                                <div class="mr-2 text-lg text-pink-500">&rarr; </div>
                                <div class="text-gray-500 dark:text-gray-400">Los otros proyectos pasan a privados por la necesidad de infraestructura para subirlos online.</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>
